/* html{
    background-color: red;
} */
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(48, 47, 47);
    /* max-width: 1400px;     */
    
}

.flex{
     
    display: flex;
    justify-content: center;
     
}

.container{
    
    background-color: rgb(56, 78, 141);
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;
    box-shadow: 0 8px 8px -4px;
    margin-bottom: 100px;
    
    
}
#box{
   border: 1px solid rgb(48, 47, 47);
   background-color: bisque;
   border-radius: 10px;
   min-height: 100px;
}

/* #box div:nth-child(odd){
    /* height: fit-content; */
    /* background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
} 
 #box div:nth-child(even){
    background-color: rgb(124, 153, 207);
    color: rgb(15, 15, 15);  */
    /* height: fit-content; */
 /* } */
.line{
    /* height: fit-content; */
     display: flex;
     margin-bottom: 2.5px;
     margin-top: 2.5px;
}  


.name{
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
    /* flex: 30%; */
    width: fit-content;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* border-right: 1px solid black; */
    height: auto;
    background-color: rgb(48, 47, 47);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255, 0.8);
   
}
.join{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom:  1px solid black;
    width: 100%;
    font-size: small;
}
.msg{
    position: relative;
    /* flex: 70%; */
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

textarea{ 
    width: 400px;
}

button{
    border-radius: 6px;
    border: none;
} 

.heading{
    text-align: center;
    color: bisque;
    font-size: 30px;
}


@media (max-width: 600px){

.container{
    width: 100%;
}

}